html, body {
    background-color: #1e2124;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 85vh;
}

.dataText {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.box u {
    color: white;
    font-size: 30px;
}

.insideBox {
    color: white;
    background-color: rgb(44, 47, 51);
    text-align: center;
    margin: 10px;
    padding: 10px;
    word-break: break-all;
    border-radius: 15px;
    max-width: 700px;

    display: flex;
    flex-direction: column;
}

.insideBox:hover{
    background-color: rgb(62, 66, 70);
    transition: .2s;
}

.authorPfp {
    font-weight:bold;
    margin: 0 10px 10px 10px;
    height: 100%;
}

.authorName {
    font-size: 25px;
}

.message {
    height: 100%;
}

@media only screen and (max-width: 850px) {
    .box u {
        font-size: 20px;
    }

    .insideBox {
        font-size: 11px;
    }

    .authorName {
        font-size: 15px;
    }
}